.explore {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 540px;
    height: 100%;
    max-height: 272px;
    transition: all 0.80s ease;
}

.explore-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 272px;
    max-height: 272px;
    transition: all 0.80s ease;
}

.explore-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bellefair', serif;
    font-size: 32px;
    word-spacing: 1px;
    width: 272px;
    height: 272px;
    border-radius: 50%;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    background-color: #fff;
    transition: all 0.80s ease;
}

.explore-button a::after {
    content: "";
    position: absolute;
    opacity: 0;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: opacity 0.50s ease;
}

.explore-button a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.explore-button a:hover::after {
    opacity: .7;

}

@media screen and (max-width: 768px) {
    .explore {
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 24px;
        width: 100%;
        max-width: 512px;
        height: 272px;
    }

    .explore .explore-button {
        width: 272px;
        height: 272px;
    }

    .explore-button a::after {
        content: "";
        position: absolute;
        opacity: 0;
        width: 435px;
        height: 435px;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        transition: opacity 0.50s ease;
    }

    .explore .explore-button a {
        width: 272px;
        height: 272px;
    }
}

@media screen and (max-width: 510px) {
    .explore {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-height: 443px;
    }
}

@media screen and (max-width: 375px) {

    .explore {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        width: 100%;
        max-width: 327px;
        height: 100%;
        max-height: 515px;
    }

    .explore .explore-button {
        max-width: 144px;
        max-height: 144px;
    }

    .explore .explore-button a {
        font-size: 18px;
        word-spacing: 1px;
        width: 100%;
        height: 100%;
    }

    .explore-button a::after {
        content: "";
        position: absolute;
        opacity: 0;
        width: 340px;
        height: 340px;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        transition: opacity 0.50s ease;
    }
}